# For more information on how CODEOWNERS work, see
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners.

# Default owner for everything in the repo. Matches farther down in the file
# will override this default.
* @urbit/runtime
