name: feature

on:
  release: null
  pull_request:
    paths:
      - '.bazelrc'
      - '.github/workflows/*.yml'
      - 'BUILD.bazel'
      - 'WORKSPACE.bazel'
      - 'bazel/**'
      - 'pkg/**'
  push:
    paths:
      - '.bazelrc'
      - '.github/workflows/*.yml'
      - 'BUILD.bazel'
      - 'WORKSPACE.bazel'
      - 'bazel/**'
      - 'pkg/**'

jobs:
  call-vere:
    with:
      pace: 'edge'
      upload: false
    uses: ./.github/workflows/shared.yml
